@font-face {
    font-family: {{$fontName}};
    font-style: normal;
    font-weight: normal;
    src:url("{{$fontFile}}");
}


table {
    border-spacing: 0;
    border: 1px solid #888;
}

td {
    padding: 10px;
}

td:nth-child(1) {
    font-family: sans-serif;
    font-weight: bold;
    border-right: 1px solid #888;
}

body {
    margin: 5%;
    text-align: left;
    font-family: {{$fontName}}, serif;
    font-size: 1.167em;
    line-height:1.643;
}

section.empty h3 {
    display: none;
}
section.empty h3 + p {
    padding-top: 0;
    margin-top: 0;
}

p {
    font-family: {{$fontName}}, serif;
    margin: 0;
}

.origPageNum {
    font-size: 70%;
    font-family: sans-serif;
    vertical-align: super;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

code { font-family: monospace; }

h1 {
    font-size: 1.5em;
    color: #8b6d49;
    text-align: center;
}
h2 {
    font-size: 1.333em;
    color: #8b6d49;
    text-align: center;
}
h4 {
    font-size: 1.25em;
}

.volume h4 {
    text-align: center;
}

.enHeader {
    font-family: serif;
}

.terms .en,
.terms .zh {
    font-size: 0.8em;
    line-height: 1.3;
    margin-bottom: 40px;
}
.terms .bo {
    font-size: 0.8em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.terms p {
    margin-bottom: 10px;
}

.ccImage {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
a.footnoteRef { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }

